<extend name="$_home_public_layout"/>
  
<block name="main">
  
  
        <div class="container ">  
            <div class="col-xs-12 col-md-3">
                <include file="$_user_center_side" /><!-- 包含用户中心侧边导航 -->
            </div>
            <div class="col-xs-12 col-sm-6 news">
               <div class="panel-default">
                    <div class="panel-heading">
                    <i class="fa fa-th-list"></i>通知公告 <small>／Notice</small>
                    </div>
                </div>
                <br/>
                <ul class="list-unstyled">
                    <volist name = "Advice_list" id = "vo">
                        <li>
                            <a target="_blank" class="text-muted" href="{:U('Sms/Advice/detail',array('id' => $vo['id']))}">
                                   <span>{$i}.</span>
                                  <span>{$vo.title|cut_str=0,20}</span>
                                <span class="pull-right visible-lg">{$vo.create_time|time_format}</span>
                            </a>
                        </li>
                    </volist>
                </ul>
                <ul class="pagination"><notempty name="page">{$page}</notempty></ul>
            </div>
            
        </div>  
 
  
</block>