<extend name="$_admin_public_layout"/>

<block name="style">
    <style type="text/css">
        .form-group{
                margin: 5px 0;
                padding: 5px 0;
            }
        .left{
                float: left;
                width:20%;
            }
        .right{
                float: left;
                width:80%;
            }
    </style>
</block>

<block name="script">
   
</block>

<block name="main">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">{$meta_title}</h3>
                        <div class="panel-body">
                            <div class="form-group"></div>
                                <div class="tab-content">
                                            <form action="{:U('User/User/register4')}" method="post" class="form reg-form-username">
                                                <fieldset>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                            <label class="left control-label">：</label>
                                                            <div class = "right">
                                                            <input type="text" class="form-control input-lg" name="" placeholder="请输入">
                                                            </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                </fieldset>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
